
<div class="grid_4 gray_1">
	<h5>
	<div class="grid_1 alpha text_right ">
		Engine:
	</div>
	<div class="grid_3 omega ">
		<%= @type.engine %>
	</div>
	</h5>
</div>

<div class="grid_4 margin_top_4"></div>
<div class="grid_1  text_right">
	<p>Capacity:</p>
</div>
<div class="grid_3 ">
	<p><%= @type.capacity %></p>
</div>


<div class="grid_1 text_right">
	<p>Use:</p>
</div>
<div class="grid_3">
	<p><%= @type.use %></p>
</div>

<div class="grid_1 text_right">
	<p>Intervals:</p>
</div>
<div class="grid_3">
	<p><%= @type.intervals %></p>
</div>

<div class="grid_1 text_right">
	<p>Products:</p>
</div>
<div class="grid_3">
	<p><%= @type.product %></p>
	<p><%#= @type.product %></p>
	<p><%#= @type.product %></p>

</div>



