<div class="grid_4 alpha omega">
	<%= render :partial => "shared/navigation" %>
</div>

<div id="page_wrapper">
	
	<div id="content_left">
		
		<div class="grid_4">
			<h6><%= @type.title %></h6>
			<div class="line_2"></div>
		</div>
		<%= render 'engine'%>
	</div>
	<div id="content_right">

			<div class="grid_4">
				<h6><%= @type.title %></h6>
				<div class="line_2"></div>
			</div>
			<%= render 'engine'%>
		
	</div>
	<div id="content_normal">

		<div class="grid_4">
			<h6><%= @type.title %></h6>
			<div class="line_2"></div>
		</div>
		<%= render 'engine'%>
	
	</div>
	<div id="content_flipped">
	</div>
</div>






<br/>