<div id="page_wrapper">

	
	<div id="content_left">
		<div class="grid_4 alpha omega">
		<%= render :partial => "shared/navigation" %>
		</div>
		<div class="grid_4">
			<h5>Product recommendations</h5>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/car.png',
								:mouseover => '../images/car.png',
								:border=>0 ), 
								vehicle_path(1)%>
			</div>
		</div>
		
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/motorbike.png',
								:mouseover => '../images/motorbike.png',
								:border=>0 ), 
								vehicle_path(2)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/bus.png',
								:mouseover => '../images/bus.png',
								:border=>0 ), 
								vehicle_path(3)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/truck.png',
								:mouseover => '../images/truck.png',
								:border=>0 ), 
								vehicle_path(4)%>
			</div>
		</div>
	</div>
	<div id="content_right">
		<div class="grid_4">
		<%= render :partial => "shared/navigation" %>
		</div>
		<div class="grid_4">
			<h5>Product recommendations</h5>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/car.png',
								:mouseover => '../images/car.png',
								:border=>0 ), 
								vehicle_path(1)%>
			</div>
		</div>
		
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/motorbike.png',
								:mouseover => '../images/motorbike.png',
								:border=>0 ), 
								vehicle_path(2)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/bus.png',
								:mouseover => '../images/bus.png',
								:border=>0 ), 
								vehicle_path(3)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_30">
				<%= link_to image_tag('../images/truck.png',
								:mouseover => '../images/truck.png',
								:border=>0 ), 
								vehicle_path(4)%>
			</div>
		</div>
	</div>
	<div id="content_normal">
		<div class="grid_4">
		<%= render :partial => "shared/navigation" %>
		</div>
		<div class="grid_4">
			<h5>Product recommendations</h5>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_10">
				<%= link_to image_tag('../images/car.png',
								:mouseover => '../images/car.png',
								:border=>0 ), 
								vehicle_path(1)%>
			</div>
		</div>
		
		<div class="grid_1 margin_top_20">
			<div class="margin_left_10">
				<%= link_to image_tag('../images/motorbike.png',
								:mouseover => '../images/motorbike.png',
								:border=>0 ), 
								vehicle_path(2)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_10">
				<%= link_to image_tag('../images/bus.png',
								:mouseover => '../images/bus.png',
								:border=>0 ), 
								vehicle_path(3)%>
			</div>
		</div>
		<div class="grid_1 margin_top_20">
			<div class="margin_left_10">
				<%= link_to image_tag('../images/truck.png',
								:mouseover => '../images/truck.png',
								:border=>0 ), 
								vehicle_path(4)%>
			</div>
		</div>
	</div>
	
	<div id="content_flipped">
		<p>This doesn't work yet, but there is a chance apple will enable it at some point, so I've put it in anyway. You would be holding your phone upside down if it did work.</p>
	</div>
</div>