<div class="grid_4 alpha omega">
<%= render :partial => "shared/navigation" %>
</div>
<div class="grid_4 height_78 list-back">
	<div class="grid_1 alpha">
		<%= image_tag @brand.logo.url(:normal) unless @brand.logo.nil? %>
	</div>
	<div class="grid_2 omega margin_top_20">
		<h2>Models</h2>
	</div>
</div>
<div class="clear"></div>

<div id="page_wrapper">
	
	<div id="content_left">
		
		<%= render 'brands'%>
		
	</div>
	<div id="content_right">
		
	
		
		<%= render 'brands'%>
	</div>
	<div id="content_normal">
		
	
		<%= render 'brands'%>
	</div>
	<div id="content_flipped">
	</div>
</div>



